.outer{
  
  width: 100%;

}
.inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  height: 500px;

  margin: auto;
}
.box1{
  width: 30%;
  height:90%;
  border: 1px solid red;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: orange;
}
.box2,.box3{
   width: 30%;
  height:90%;
  border: 1px solid red;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: orange;
}
.box1f1 ,.box1f2{
  margin-top: 1em;
  width: 45%;
  height: 40%;
  border: 1px solid black;
  background-color: green;
}
.box1f3{
  width: 90%;
  height: 42%;
  border: 1px solid black;
  margin: 1em;
  background-color: green;
}
.box2f1,.box2f2{
  border: 1px solid black;
  width: 40%;
  height: 90%;
  margin: 1em;
  background-color: green;

}
.box3f1,.box3f2,.box3f3,.box3f4{
  border: 1px solid black;
  width: 44%;
  height: 44%;
  margin: 0.3em;
  background-color: green;
}
.img1{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 98%;
  height: 98%;

}
@media screen and (max-width: 768px){
  .box1,.box2,.box3{
 width: 100%;
}