.outer{
  
  width: 100%;

}
.inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  height: 500px;
  border: 1px solid black;
  margin: auto;
}
.box1{
  width: 30%;
  height:90%;
  border: 1px solid red;
  margin: 0.5em;
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: orange;
}
.box2,.box3{
  width: 30%;
  height:90%;
  border: 1px solid red;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: orange;
}
.box1f1 {
  width: 90%;
  height: 45%;
  border: 1px solid blue;
  background-color: blue;

}
.box1f2{
  width: 90%;
  height: 45%;
  border: 1px solid blue;
  background-color: blue;

  }
 .box2f1,.box2f2{
  width: 40%;
  height: 45%;
  margin: 0.5em;
   border: 1px solid blue;
   background-color: blue;

 } 
 .box2f3{
   width: 90%;
  height: 45%;
  margin: 0.5em;
   border: 1px solid blue;
   background-color: blue;

 }
 .box3f1{
  width: 40%;
  height: 45%;
  margin: 0.5em;
   border: 1px solid blue;
   background-color: blue;

 }
 .box3f2{
  width: 40%;
  height: 45%;
  
   border: 1px solid blue;
   background-color: blue;

 }
 .box3f4{
  width: 40%;
  height: 45%;
  margin: 0.5em;
   border: 1px solid blue;
   background-color: blue;

 }
 .box3f3{
  width: 40%;
  height: 45%;
  margin-top: 1.4em;

   border: 1px solid blue;
   background-color: blue;

 }
 @media screen and (max-width: 768px){
  .box1,.box2,.box3{
    width: 100%;
  }
 }
.input1{
  margin: 0.5em;
  width: 80%;
  color: white;
}
@media screen and (min-width: 769px){
  .box1{
  width: 30%;
  height:90%;
  border: 1px solid red;
  margin: 0.5em;
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: orange;
}
.box2,.box3{
  width: 30%;
  height:90%;
  border: 1px solid red;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: orange;
}
.box1f1 {
  width: 90%;
  height: 45%;
  border: 1px solid blue;
  background-color: blue;

}
.box1f2{
  width: 90%;
  height: 45%;
  border: 1px solid blue;
  background-color: blue;

  }
 .box2f1,.box2f2{
  width: 40%;
  height: 45%;
  margin: 0.5em;
   border: 1px solid blue;
   background-color: blue;

 } 
 .box2f3{
   width: 90%;
  height: 45%;
  margin: 0.5em;
   border: 1px solid blue;
   background-color: blue;

 }
 .box3f1{
  width: 40%;
  height: 45%;
  margin: 0.5em;
   border: 1px solid blue;
   background-color: blue;

 }
 .box3f2{
  width: 40%;
  height: 45%;
  
   border: 1px solid blue;
   background-color: blue;

 }
 .box3f4{
  width: 40%;
  height: 45%;
  margin: 0.5em;
   border: 1px solid blue;
   background-color: blue;

 }
 .box3f3{
  width: 40%;
  height: 45%;
  margin-top: 1.4em;

   border: 1px solid blue;
   background-color: blue;

 }
}
